@font-face {
	font-family: "Righteous-Regular";
	src: url("Righteous-Regular.ttf");
}

@font-face {
	font-family: "AmaticSC-Bold";
	src: url("AmaticSC-Bold.ttf");
}

html, body {
	margin: 0;
	width: 100vw;
	height: 100%;
	max-width: 100%;
    overflow-x: hidden;
	background-color: #6fab55;
	font-family: AmaticSC-Bold;
	font-weight: bolder;
}

#Main {
	top: 0;
	position: relative;
	background-image: url("mountains-2.jpg");
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding-top: 20px;
	text-align: center;
	color: #0f6032;


}

#Title {
	text-align: left;
	padding-left: 10vw;
	font-size: 3vh;
}

#Book {
	padding-top: 20vh;
	color: white;
}

#Book > h2 {
	font-size: 8vh;
	margin-bottom: 50px;
}

button {
	font-family: AmaticSC-Bold;
	width: auto;
	height: auto;
	padding: 2vh 4vw;
	font-size: 3vh;
	background-color: #6fab55;
	background-size: cover;
	border: none;
	border-radius: 25px;
}

button:hover {
	background-color: #0f6032;
	cursor: pointer;
}

#Info {
	top: 0;
	position: relative;
	background-image: url("sunrise.jpg");
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 20px;
	text-align: center;
	color: black;

}

.Panel {
	position: relative;
	top: 20%;
	background-color: rgba(151, 151, 151, 0.65);
	width: 75vw;
	height: 60vh;
	margin: auto;
	padding: 0px;
}

.Side {
	width: 50%;
	height: 100%;
	padding: 0px 0px;
	position: relative;
	float: left;
	opacity: 1;
	font-size: 4vh;
}

.TextArea {
	height: 90%;
	position: relative;
	padding: 1vh 4vw;
	text-align: left;
}

.TextArea > p {
	font-family: "Righteous-Regular";
	font-size: 2vh;
	position: relative;
	top: 40%;
}

#Quote {
	top: 0;
	position: relative;
	background-image: url("mountains.jpg");
	background-size: cover;
	background-position: bottom;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0px;
	text-align: right;
	color: black;
}

#Quote > .Panel {
	padding: 0;
	font-size: 4vh;
}

#Quote > .Panel > .TextArea > a > button {
	background-color: #0f6032;
}

#Quote > .Panel > .TextArea > a > button:hover {
	background-color: #598a44
}

#Quote > .Panel > .TextArea {
	text-align: center;
	padding: 20vh 15vw;
}

.Side > img {
	position: relative;
	left: 5vw;
}

.Contact {
	list-style: none;
}

footer {
	position: relative;
	top: 0;
	background-position: bottom;
	background-image: url("avenue.jpg");
	padding: 4vh 0;
	height: 100vh;
	width: 100vw;
	font-size: 6vh;
}

footer > h2, h4 {
	padding: 0 5vw;
}

footer > h4 {
	font-size: 7vh;
}

footer > h2 {
	position: absolute;
	bottom: 0;
}

span {
	display: inline-block;
	width: 15vw;
	margin: auto 20px;
	text-align: center;
	padding: 20px;
	background-color: rgba(151, 151, 151, 0.65);
	color: #0f6032;
}

a {
	color: #0f6032;
}


#Contacts {
	margin-top: 25vh;
} 




@medi only screen and (max-width: 1023) {

}